body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00c6ff);
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
}

input{
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    background: #4facfe;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background: #2f80ed;
}

#resultado{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#classificacao{
    margin-top: 5px;
    font-size: 16px;
}